<table >
  <tr>
    <td></td>
    <td>
      <textarea name="up" rows="5" cols="30"></textarea><br>
      <input type="submit" value="Submit">
    </td>
    <td></td>
  </tr>
  <tr>
    <td>
      <textarea name="left" rows="5" cols="30"></textarea><br>
      <input type="submit" value="Submit">
    </td>
    <td>

    </td>
    <td>
    <textarea name="right" rows="5" cols="30"></textarea><br>
      <input type="submit" value="Submit">
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <textarea name="down" rows="5" cols="30"></textarea><br>
      <input type="submit" value="Submit">
    </td>
    <td></td>
  </tr>
</table>
